<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
  <logger name="StackTrace" level="error"/>
  <!--<logger name="io.micronaut" level="trace"/>-->
  <!--<logger name="io.micronaut.context" level="trace" />-->
  <logger name="net.sf.ehcache.config.ConfigurationFactory" level="error"/>
  <logger name="org.hibernate.orm.deprecation"
          level="error"/>  <!-- Suppress the Hibernate 5.1.0 warning on deprecated criteria in GORM.-->
  <!--<logger name="net.sf.ehcache" level="trace"/>-->
  <logger name="io.micronaut.runtime.Micronaut" level="info"/>
  <logger name="io.micronaut.http.client" level="warn"/>
  <logger name="io.micronaut.views" level="warn"/>
  <logger name="io.micronaut.context" level="warn"/>
  <logger name="io.micronaut.data" level="warn"/>  <!--debug for SQL, trace for values-->
  <logger name="io.micronaut" level="warn"/>

  <!--<logger name="asset.pipeline" level="trace"/>-->
  <logger name="io.netty.handler.logging" level="warn"/>

  <logger name="org.simplemes.eframe" level="warn"/>
  <logger name="org.simplemes.eframe.application" level="warn"/>
  <logger name="org.simplemes.eframe.application.StartupHandler" level="error"/>  <!--warn for workaround warnings.-->
  <logger name="org.simplemes.eframe.custom" level="warn"/>
  <logger name="org.simplemes.eframe.web.ui" level="warn"/>
  <logger name="org.simplemes.eframe.security" level="warn"/>
  <logger name="org.simplemes.eframe.test" level="warn"/>
  <logger name="org.simplemes.eframe.preference" level="warn"/>
  <logger name="sample" level="warn"/>
  <logger name="client.to-server" level="warn"/>
  <logger name="client.dashboard" level="warn"/>
</configuration>