/*Styles for the logging page*/

.logger-state {
  color: #000;
  background-color: #fff;
  border-color: #AAA;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding: 2px 7px 2px 7px;
  margin: 2px 3px 2px 3px;
  cursor: pointer;
}

.logger-effective {
  text-decoration: overline;
}

.error-on {
  color: #fff;
  background-color: #258FCB;
}

.warn-on {
  color: #fff;
  background-color: #56B459;
}

.info-on {
  color: #fff;
  background-color: #21BDDB;
}

.debug-on {
  color: #fff;
  background-color: #F6A846;
}

.trace-on {
  color: #fff;
  background-color: #E1554C;
}

.logger-add {
  color: #090;
  cursor: pointer;
}

.logger-remove {
  color: #900;
  cursor: pointer;
}


