/* mes_dashboard.css */

.scanHeader {
  font-size: 150%;
}

.orderBlock {
  float: right;
}

.orderDisplay {
  font-size: 180%;
  color: green;
}

.orderStatusDisplay {
  font-size: 75%;
  color: green;
}
